*{
    box-sizing: border-box;
}

body{
    background-color: white;
    margin: 0;
}

header{
    background-color: burlywood;
    padding: 10px;
    text-align: center;
}

nav{
    background-color: rgb(218, 228, 235);
    padding: 10px;
    text-align: center;
}

a{
    display: inline-block;
    padding: 10px;
    font-size: 18px;
}

#wrapper{
    width: 1000px;
    margin: auto;
}

.section{
    display: flex;
}

.column{
    width: 33.33%;
    height: 400px;
    text-align: center;
}

.section-tow{
    margin-top: 120px !important;
}

footer{
    padding: 20px;
    background-color: #9be0e0;
    text-align: center;
}